@if(this.dataModel.match().roundPhase === "shopping") {
<div
  class="vw-900 vh-270 animate-duration-300 animate-style-keep relative overflow-hidden"
  [class.hidden]="hide"
  [class.animate-swish]="inAnimation"
  [class.animate-swish-out]="outAnimation"
>
  <div class="relative top-0 left-0 flex w-full items-center justify-center">
    <div class="vh-270 relative flex items-center">
      <div class="bg-timer/85 rounded-md">
        <div class="flex h-27.5 w-215 flex-row gap-6 rounded-md" [class]="'bg-fade-' + teamSite()">
          @if (toastInfo().selectedTeam !== "none") {
          <div class="flex w-27.5 shrink-0 items-center justify-center rounded-l-md">
            <img
              [src]="toastInfo().selectedTeam === 'left' ? dataModel.teams()[0].teamUrl : dataModel.teams()[1].teamUrl"
              class="vw-60 h-auto object-contain"
            />
          </div>
          } @else {
          <div></div>
          }
          <div
            class="flex flex-col gap-1 overflow-hidden"
            [class]="toastInfo().title === '' ? 'self-center' : ''"
          >
            @if(toastInfo().title !== "") {
            <span
              class="mt-2 flex text-2xl font-bold text-white"
              [class]="toastInfo().eventLogoEnabled ? 'w-147.5' : 'w-174'"
            >
              {{ toastInfo().title }}
            </span>
            }
            <span
              class="flex justify-center self-center text-white"
              [class]="(toastInfo().selectedTeam === 'none' ? toastInfo().eventLogoEnabled ? 'w-175.5' : 'w-201.5' : toastInfo().eventLogoEnabled ? 'w-147.5' : 'w-174') +
                  ' ' +
                  (toastInfo().title !== '' ? 'text-xl' : 'text-2xl')"
            >
              {{ toastInfo().message }}
            </span>
          </div>
          @if (toastInfo().eventLogoEnabled) {
          <div class="flex w-27.5 shrink-0 items-center justify-center rounded-md">
            <img [src]="tournamentIconUrl()" class="vw-60 h-auto object-contain" />
          </div>
          } @else {
          <div></div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
}
