@keyframes swish {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.animate-swish {
  animation: swish 300ms ease-in-out forwards;
  will-change: clip-path, width;
}

.animate-swish-out {
  animation: swish 300ms ease-in-out reverse forwards;
  will-change: clip-path, width;
}

.bg-fade-defender {
  background: linear-gradient(
    to right,
    rgba(var(--defender-color-rgb), 0.5) 10%,
    rgba(var(--defender-color-rgb), 0.25) 40%,
    transparent
  );
}

.bg-fade-attacker {
  background: linear-gradient(
    to right,
    rgba(var(--attacker-color-rgb), 0.5) 10%,
    rgba(var(--attacker-color-rgb), 0.25) 40%,
    transparent
  );
}
